@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: transparent;
  color: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.container {
  max-width: 1255px;
  padding: 0 20px;
  margin: 0 auto;
}

.txt-center {
  text-align: center;
}

.btn {
  display: block;
  width: 200px;
  height: 44px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 12px;
  line-height: 44px;
}
.btn-cta {
  color: #CFD9E1;
  border: 1px solid #E1E1E9;
  background: linear-gradient(90.07deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%), linear-gradient(137.99deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%);
}
.btn-cta2 {
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 10px 0px rgba(93, 177, 223, 0.1);
}
.btn-cta3 {
  color: #030B59;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  box-shadow: 0px 4px 10px 0px rgba(93, 177, 223, 0.1);
}
.btn-cta4 {
  color: #fff;
  background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
}

.arrow {
  border: solid #030B59;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000;
  overflow: hidden;
  z-index: -999;
}

.background span {
  width: 80vmin;
  height: 80vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 13;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #030b59;
  top: 1%;
  left: 34%;
  animation-duration: 109s;
  animation-delay: -159s;
  transform-origin: -12vw 2vh;
  box-shadow: -100vmin 0 12.9951743746vmin currentColor;
}

.background span:nth-child(1) {
  color: #030b59;
  top: 30%;
  left: 54%;
  animation-duration: 278s;
  animation-delay: -336s;
  transform-origin: 6vw 19vh;
  box-shadow: 100vmin 0 13.4459340223vmin currentColor;
}

.background span:nth-child(2) {
  color: #030b59;
  top: 13%;
  left: 95%;
  animation-duration: 8s;
  animation-delay: -59s;
  transform-origin: 20vw 19vh;
  box-shadow: -100vmin 0 13.0399020546vmin currentColor;
}

.background span:nth-child(3) {
  color: #030b59;
  top: 68%;
  left: 35%;
  animation-duration: 185s;
  animation-delay: -64s;
  transform-origin: 20vw -14vh;
  box-shadow: -100vmin 0 12.9901668637vmin currentColor;
}

.background span:nth-child(4) {
  color: #030b59;
  top: 62%;
  left: 72%;
  animation-duration: 216s;
  animation-delay: -278s;
  transform-origin: 12vw -9vh;
  box-shadow: 100vmin 0 13.2349748955vmin currentColor;
}

.background span:nth-child(5) {
  color: #030b59;
  top: 45%;
  left: 5%;
  animation-duration: 236s;
  animation-delay: -164s;
  transform-origin: 4vw -12vh;
  box-shadow: -100vmin 0 13.4437476553vmin currentColor;
}

.background span:nth-child(6) {
  color: #030b59;
  top: 33%;
  left: 18%;
  animation-duration: 173s;
  animation-delay: -238s;
  transform-origin: 23vw -12vh;
  box-shadow: 100vmin 0 12.8872046249vmin currentColor;
}

.background span:nth-child(7) {
  color: #030b59;
  top: 84%;
  left: 47%;
  animation-duration: 274s;
  animation-delay: -188s;
  transform-origin: -7vw -8vh;
  box-shadow: -100vmin 0 13.041384162vmin currentColor;
}

.background span:nth-child(8) {
  color: #030b59;
  top: 15%;
  left: 59%;
  animation-duration: 107s;
  animation-delay: -298s;
  transform-origin: 24vw 23vh;
  box-shadow: -100vmin 0 12.8888532437vmin currentColor;
}

.background span:nth-child(9) {
  color: #030b59;
  top: 83%;
  left: 69%;
  animation-duration: 312s;
  animation-delay: -370s;
  transform-origin: -1vw -13vh;
  box-shadow: 100vmin 0 13.2139900865vmin currentColor;
}

.background span:nth-child(10) {
  color: #030b59;
  top: 60%;
  left: 90%;
  animation-duration: 185s;
  animation-delay: -260s;
  transform-origin: 15vw 19vh;
  box-shadow: -100vmin 0 12.7883119995vmin currentColor;
}

.background span:nth-child(11) {
  color: #030b59;
  top: 61%;
  left: 29%;
  animation-duration: 96s;
  animation-delay: -260s;
  transform-origin: 0vw 17vh;
  box-shadow: -100vmin 0 13.1013052695vmin currentColor;
}

.background span:nth-child(12) {
  color: #030b59;
  top: 22%;
  left: 91%;
  animation-duration: 118s;
  animation-delay: -231s;
  transform-origin: -24vw 3vh;
  box-shadow: -100vmin 0 12.9227297182vmin currentColor;
}

.background span:nth-child(13) {
  color: #030b59;
  top: 100%;
  left: 10%;
  animation-duration: 77s;
  animation-delay: -36s;
  transform-origin: 0vw 9vh;
  box-shadow: 100vmin 0 13.2141709794vmin currentColor;
}

.background span:nth-child(14) {
  color: #030b59;
  top: 29%;
  left: 84%;
  animation-duration: 126s;
  animation-delay: -368s;
  transform-origin: -17vw 24vh;
  box-shadow: -100vmin 0 12.8448230672vmin currentColor;
}

.background span:nth-child(15) {
  color: #030b59;
  top: 15%;
  left: 72%;
  animation-duration: 52s;
  animation-delay: -342s;
  transform-origin: -23vw -16vh;
  box-shadow: -100vmin 0 12.9719038415vmin currentColor;
}

.background span:nth-child(16) {
  color: #030b59;
  top: 26%;
  left: 52%;
  animation-duration: 49s;
  animation-delay: -265s;
  transform-origin: 14vw -19vh;
  box-shadow: 100vmin 0 12.6671850626vmin currentColor;
}

.background span:nth-child(17) {
  color: #030b59;
  top: 77%;
  left: 90%;
  animation-duration: 136s;
  animation-delay: -232s;
  transform-origin: 20vw 19vh;
  box-shadow: 100vmin 0 13.4081789064vmin currentColor;
}

.background span:nth-child(18) {
  color: #030b59;
  top: 87%;
  left: 76%;
  animation-duration: 261s;
  animation-delay: -351s;
  transform-origin: -19vw -23vh;
  box-shadow: 100vmin 0 13.2507987991vmin currentColor;
}

.background span:nth-child(19) {
  color: #030b59;
  top: 54%;
  left: 19%;
  animation-duration: 227s;
  animation-delay: -60s;
  transform-origin: 17vw 24vh;
  box-shadow: 100vmin 0 13.2155035273vmin currentColor;
}

.background span:nth-child(20) {
  color: #030b59;
  top: 98%;
  left: 76%;
  animation-duration: 121s;
  animation-delay: -207s;
  transform-origin: 8vw -10vh;
  box-shadow: 100vmin 0 13.0842836472vmin currentColor;
}

.background span:nth-child(21) {
  color: #030b59;
  top: 63%;
  left: 20%;
  animation-duration: 350s;
  animation-delay: -332s;
  transform-origin: 1vw 20vh;
  box-shadow: -100vmin 0 12.7552813455vmin currentColor;
}

.background span:nth-child(22) {
  color: #030b59;
  top: 54%;
  left: 53%;
  animation-duration: 277s;
  animation-delay: -333s;
  transform-origin: -24vw -15vh;
  box-shadow: -100vmin 0 12.7658738416vmin currentColor;
}

.background span:nth-child(23) {
  color: #030b59;
  top: 36%;
  left: 67%;
  animation-duration: 366s;
  animation-delay: -3s;
  transform-origin: -21vw 23vh;
  box-shadow: 100vmin 0 12.5198764685vmin currentColor;
}

.background span:nth-child(24) {
  color: #030b59;
  top: 27%;
  left: 37%;
  animation-duration: 9s;
  animation-delay: -191s;
  transform-origin: -19vw 0vh;
  box-shadow: 100vmin 0 12.5327234771vmin currentColor;
}

.background span:nth-child(25) {
  color: #030b59;
  top: 46%;
  left: 41%;
  animation-duration: 57s;
  animation-delay: -195s;
  transform-origin: -1vw 5vh;
  box-shadow: -100vmin 0 13.3715417613vmin currentColor;
}

.background span:nth-child(26) {
  color: #030b59;
  top: 2%;
  left: 1%;
  animation-duration: 236s;
  animation-delay: -38s;
  transform-origin: 7vw 8vh;
  box-shadow: 100vmin 0 13.2188121971vmin currentColor;
}

.background span:nth-child(27) {
  color: #030b59;
  top: 40%;
  left: 80%;
  animation-duration: 144s;
  animation-delay: -40s;
  transform-origin: 14vw -4vh;
  box-shadow: 100vmin 0 12.7411820371vmin currentColor;
}

.background span:nth-child(28) {
  color: #030b59;
  top: 42%;
  left: 82%;
  animation-duration: 232s;
  animation-delay: -270s;
  transform-origin: 8vw -14vh;
  box-shadow: -100vmin 0 12.9975458245vmin currentColor;
}

.background span:nth-child(29) {
  color: #030b59;
  top: 72%;
  left: 73%;
  animation-duration: 281s;
  animation-delay: -1s;
  transform-origin: -21vw 21vh;
  box-shadow: -100vmin 0 13.2876385739vmin currentColor;
}

.background span:nth-child(30) {
  color: #030b59;
  top: 1%;
  left: 49%;
  animation-duration: 102s;
  animation-delay: -140s;
  transform-origin: -8vw 2vh;
  box-shadow: 100vmin 0 13.222612432vmin currentColor;
}

.background span:nth-child(31) {
  color: #030b59;
  top: 35%;
  left: 85%;
  animation-duration: 121s;
  animation-delay: -215s;
  transform-origin: -2vw -13vh;
  box-shadow: 100vmin 0 12.6959028834vmin currentColor;
}

.background span:nth-child(32) {
  color: #030b59;
  top: 96%;
  left: 36%;
  animation-duration: 180s;
  animation-delay: -107s;
  transform-origin: -24vw -12vh;
  box-shadow: -100vmin 0 13.3516164897vmin currentColor;
}

.background span:nth-child(33) {
  color: #030b59;
  top: 9%;
  left: 72%;
  animation-duration: 370s;
  animation-delay: -228s;
  transform-origin: -6vw 23vh;
  box-shadow: 100vmin 0 12.7735493101vmin currentColor;
}

.background span:nth-child(34) {
  color: #030b59;
  top: 64%;
  left: 36%;
  animation-duration: 322s;
  animation-delay: -97s;
  transform-origin: 20vw 2vh;
  box-shadow: 100vmin 0 12.8277049324vmin currentColor;
}

body {
  background-color: #000000;
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(90.07deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 74px;
  align-items: center;
}
.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title-1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.5px;
  color: #fff;
}
.header__title-2 {
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 5.5px;
  color: #fff;
  margin: 0 0 0 5px;
}
.header__burger {
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    position: relative;
    z-index: 3;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.01);
    box-shadow: 0px 4px 10px 0px rgba(93, 177, 223, 0.1);
    padding: 10px;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 24px;
    height: 2px;
    left: 10px;
    top: 21px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 24px;
    height: 2px;
    left: 10px;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    top: 13px;
  }
  .header__burger::after {
    bottom: 13px;
  }
  .header__burger.active::before {
    width: 24px;
    transform: rotate(45deg);
    top: 21px;
    left: 10px;
  }
  .header__burger.active::after {
    width: 24px;
    transform: rotate(-45deg);
    bottom: 21px;
    left: 10px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}
.header__menu {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header__menu {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    background-color: #030b59;
    opacity: 1;
    background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.95) 89.23%));
    padding: 114px 20px 44px 20px;
  }
  .header__menu.active {
    top: 0;
  }
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header__list li {
  margin: 0 24px 0 0;
}
@media (max-width: 767px) {
  .header__list li {
    margin: 0 0 24px 0;
  }
}
@media (max-width: 767px) {
  .header__list {
    display: block;
  }
}
.header__link {
  font-weight: 700;
  font-size: 16px;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .btn {
  z-index: 3;
}

.main {
  padding: 74px 0 0 0;
  position: relative;
}
.main .light-1 {
  position: absolute;
  left: 0;
  top: 150px;
  z-index: -333;
}
.main .light-2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -333;
}
.main .light-3 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -333;
}
.main .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.main-left {
  flex-basis: 50%;
}
.main-left .btns-info {
  display: flex;
  gap: 24px;
}
.main-left .btn-info {
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
}
.main-left .btn-info span {
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.main-left .title {
  font-size: 74px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1px;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 55px 0 0 0;
}
.main-left .txt-places {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #CFD9E1;
  margin: 20px 0 0 0;
  max-width: 450px;
}
.main-left .btns-cta {
  display: flex;
  margin: 38px 0 0 0;
}
.main-left .btns-cta .btn-cta {
  margin: 0 24px 0 0;
}
.main-right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-right #MainImg {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 30px 0 0 0;
  transform: rotate(4deg);
}
.main .main-img-mob {
  display: none;
}

.about {
  position: relative;
}
.about .light-4 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -333;
}
.about .light-5 {
  position: absolute;
  left: -50px;
  bottom: -200px;
  z-index: -333;
}
.about .light-6 {
  position: absolute;
  left: 0;
  bottom: -400px;
  z-index: -333;
}
.about .title {
  font-size: 44px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1px;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .cards {
  display: flex;
  gap: 8px;
  flex-flow: row wrap;
  position: relative;
  margin: 15px 0 0 0;
}
.about .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px;
  width: 236px;
  height: 248px;
}
.about .card-style {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
}
.about .subtitle {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
  padding: 4.5px 8px;
  white-space: nowrap;
}
.about .subtitle-txt {
  color: #CFD9E1;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.about .txt {
  color: #CFD9E1;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 18px 0 0 0;
}
.about .achievements {
  padding: 150px 0;
}
.about .quote {
  position: relative;
}
.about .quote-txt {
  font-size: 53px;
  font-style: italic;
  font-weight: 700;
  line-height: 64px;
  max-width: 1070px;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  position: relative;
  padding: 30px;
}
.about .quote-txt::before {
  content: url(../../assets/svg/quote-paws-1.svg);
  position: absolute;
  top: 0;
  left: 0;
}
.about .quote-txt::after {
  content: url(../../assets/svg/quote-paws-2.svg);
  position: absolute;
  bottom: 0;
  right: 370px;
}
.about .quote-author {
  display: flex;
  align-items: center;
  position: absolute;
  right: -20px;
  top: 30px;
}
.about .quote-author img {
  display: block;
  max-width: 335px;
  height: auto;
}
.about .quote-author span {
  color: #FFF;
  font-size: 17px;
  font-weight: 500;
  margin: 150px 0 0 0;
}
.about .story {
  margin: 150px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.about .story img {
  display: block;
}
.about .story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.about .story-txt {
  color: #CFD9E1;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  max-width: 450px;
  position: relative;
  padding: 0 0 0 30px;
}
.about .story-txt::before {
  content: "🥇";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.tuning .title {
  font-size: 44px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1px;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tuning-container {
  margin: 45px 0 0 0;
}
.tuning-container .vector-1 {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  position: relative;
}
.tuning-container .vector-1 .tiktok {
  position: relative;
}
.tuning-container .vector-1 .tt-icon {
  display: block;
}
.tuning-container .vector-1 .tt-txt {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tuning-container .arrow-1 {
  margin: 0 0 10px 0;
}
.tuning .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  padding: 24px 0;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(242, 72, 255, 0);
  max-width: 686px;
  position: relative;
}
.tuning .cards::before {
  content: "Плюс нові знання 🎓";
  position: absolute;
  top: -15px;
  left: 70px;
  color: #000;
  border-radius: 16px;
  background: #CFD9E1;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 203px;
  height: 30px;
}
.tuning .card {
  width: 194px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115px;
  padding: 5px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
}
.tuning .card:last-child {
  display: none;
}
.tuning .card p {
  padding: 10px;
  color: #CFD9E1;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.tuning .vector-2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.tuning .vector-2 .arrow-2 {
  margin: 20px 0 0 0;
}
.tuning .vector-2 .money-icon {
  margin: -130px 0 0 0;
}
.tuning .why-tiktok {
  padding: 60px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 64px;
}
.tuning .why-tiktok-item {
  flex: 0 0 350px;
}
.tuning .why-tiktok-item h3 {
  color: #FFF;
  font-size: 82px;
  font-weight: 900;
  line-height: 115px;
}
.tuning .why-tiktok-item span {
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  margin: 0 0 0 -5px;
}
.tuning .why-tiktok-item p {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 5px 0 0 0;
}

.program .title {
  font-size: 44px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1px;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.program .accordeon {
  height: 100%;
  width: 100%;
  margin: 25px 0 0 0;
}
.program .accordeon__item {
  margin: 0 0 4px 0;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.program .accordeon__button {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  color: #CFD9E1;
  padding: 12px 16px 12px 12px;
  cursor: pointer;
  border-radius: 12px;
  background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
}
.program .accordeon__button span:nth-child(1) {
  color: var(--Gray, #CFD9E1);
  font-size: 12px;
  font-weight: 500;
  opacity: 0.44;
}
.program .accordeon__button span:last-child {
  color: var(--Gray, #CFD9E1);
  font-size: 13px;
  font-weight: 500;
}
.program .accordeon__button:after {
  content: "+";
  position: absolute;
  margin: auto 0;
  right: 16px;
  font-size: 30px;
  font-weight: 300;
  width: 12px;
  transition: content 0.3s ease-in;
}
.program .accordeon__panel {
  border-radius: 0 0 12px 12px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
}
.program .panel__text {
  padding: 16px 22px 25px 12px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease;
}
.program .panel__text-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 5px;
}
.program .panel__text-item span {
  color: var(--Gray, #CFD9E1);
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  opacity: 0.44;
  flex: 46px 0 0;
}
.program .panel__text-item p {
  color: var(--Gray, #CFD9E1);
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
}
.program .activeA {
  border-radius: 12px 12px 0 0;
  transition: all 0.3s ease;
}
.program .activeA:after {
  content: "-";
  position: absolute;
  margin: auto 0;
  right: 14px;
  font-size: 30px;
  font-weight: 300;
  transition: content 0.3s ease-out;
  width: 12px;
}

.price {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.price-bg1 {
  position: absolute;
  top: 40px;
  right: -55px;
  z-index: -333;
}
.price-bg2 {
  position: absolute;
  bottom: -50px;
  left: -50px;
  z-index: -333;
  transform: scale(-1, 1);
}
.price .title {
  font-size: 44px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1px;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price .txt {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 10px 0 80px 0;
}
.price-box {
  margin: 0 auto;
  max-width: 100%;
  border-radius: 8px;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
}
.price .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.price .card {
  padding: 64px 30px;
  text-align: center;
  max-width: 260px;
}
.price .card:nth-child(2) {
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
  margin: -28px 0 0 0;
}
.price .card:nth-child(2) h3, .price .card:nth-child(2) span, .price .card:nth-child(2) p {
  color: #FFF;
}
.price .card:nth-child(2) h3 {
  margin: 28px 0 0 0;
}
.price .card h3 {
  color: #030B59;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.333px;
  text-transform: uppercase;
}
.price .card span {
  color: #030B59;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: -1px;
  margin: 12px 0 0 0;
}
.price .card p {
  color: #030B59;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.233px;
  margin: 6px 0 0 0;
}
.price .card .btn {
  margin: 68px 0 0 0;
}
.price-table {
  padding: 40px 30px;
}
.price-item {
  border-radius: 24px;
  background: rgba(3, 11, 89, 0.15);
  padding: 15px 35px;
  display: flex;
  align-items: center;
  position: relative;
}
.price-item p {
  color: #030B59;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.25px;
  max-width: 220px;
}
.price-item .check {
  position: absolute;
}
.price-item .check-1 {
  left: 525px;
}
.price-item .check-2 {
  right: 345px;
}
.price-item .check-3 {
  right: 90px;
}
.price-item:nth-child(even) {
  background: transparent;
}
.price .btns-cta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
  padding: 30px;
}
.price-box-mob {
  margin: 20px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.price-box-mob__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 335px;
  padding: 25px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: var(--Gray, #CFD9E1);
}
.price-box-mob__card-title {
  color: #030B59;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.333px;
  text-transform: uppercase;
}
.price-box-mob__card-txt {
  color: #030B59;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.233px;
  margin: 10px 0 0 0;
}
.price-box-mob__card-price {
  color: #030B59;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 42px 0 0 0;
}
.price-box-mob__card-price::after {
  content: "$376";
  margin: 0 0 0 10px;
  color: rgba(3, 11, 89, 0.5);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -1px;
  text-decoration: line-through;
}
.price-box-mob__card .details {
  width: 100%;
  margin: 32px 0 0 0;
}
.price-box-mob__card .details-btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price-box-mob__card .details-btn i {
  margin: 0 0 3px 8px;
}
.price-box-mob__card .details-content {
  margin: 16px 0 0 0;
}
.price-box-mob__card .details-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13.5px;
  border-radius: 12px;
  background: #C4C5D6;
}
.price-box-mob__card .details-item p {
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price-box-mob__card .details-item img {
  width: 20px;
  height: 20px;
}
.price-box-mob__card .details-item:nth-child(even) {
  background: transparent;
}
.price-box-mob__card .btn {
  margin: 15px 0 0 0;
}
.price-box-mob > .price-box-mob__card:nth-child(2) {
  background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
}
.price-box-mob > .price-box-mob__card:nth-child(2) .price-box-mob__card-title {
  color: none;
  background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price-box-mob > .price-box-mob__card:nth-child(2) .price-box-mob__card-txt {
  color: var(--new-gray, #808197);
}
.price-box-mob > .price-box-mob__card:nth-child(2) .price-box-mob__card-price {
  color: var(--Gray, #CFD9E1);
}
.price-box-mob > .price-box-mob__card:nth-child(2) .price-box-mob__card-price::after {
  color: var(--new-gray, #808197);
}
.price-box-mob > .price-box-mob__card:nth-child(2) .details-btn {
  -webkit-text-fill-color: var(--Gray, #CFD9E1);
}
.price-box-mob > .price-box-mob__card:nth-child(2) .details-btn .arrow {
  border-color: #CFD9E1;
}
.price-box-mob > .price-box-mob__card:nth-child(2) .details-item p {
  -webkit-text-fill-color: var(--Gray, #CFD9E1);
}
.price-box-mob > .price-box-mob__card:nth-child(2) .details-item:nth-child(odd) {
  background: rgba(128, 129, 151, 0.22);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #fff;
  padding: 38px;
}
.footer-title-1 {
  color: #FFF;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.footer-title-2 {
  color: #FFF;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 5.5px;
  margin: 0 0 0 5px;
}
.footer-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
.footer-menu-items {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.footer-menu-link {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 1255px) {
  .about .cards {
    flex-direction: column;
  }
  .about .card {
    width: 100%;
    height: auto;
    padding: 12px 24px;
  }
  .about .achievements {
    padding: 0;
    margin: 44px 0 0 0;
  }
  .about .quote {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .about .quote-txt {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1px;
    max-width: 310px;
    padding: 50px 0 0 0;
  }
  .about .quote-txt::after {
    right: 100px;
    bottom: -45px;
  }
  .about .quote-author {
    position: static;
    padding: 24px 0;
    justify-content: center;
  }
  .about .quote span {
    font-size: 16px;
  }
  .about .story {
    margin: 24px 0 0 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .about .story img {
    display: none;
  }
  .about .story-container {
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }
  .about .story-txt {
    max-width: 100%;
  }
  .tuning {
    padding: 54px 0;
  }
}
@media (max-width: 1150px) {
  .price {
    padding: 44px 0;
  }
  .price-bg1, .price-bg2 {
    display: none;
  }
  .price .title {
    font-size: 30px;
    line-height: 40px;
  }
  .price .txt {
    font-size: 14px;
    line-height: 22px;
    margin: 10px 0 0 0;
  }
  .price .price-box {
    display: none;
  }
}
@media (min-width: 1151px) {
  .price-box-mob {
    display: none;
  }
}
@media (max-width: 1100px) {
  .tuning-container {
    margin: 0 0 0 0;
    padding: 22px 0 44px 0;
  }
  .tuning-container .vector-1, .tuning-container .vector-2 {
    display: none;
  }
  .tuning .cards {
    gap: 5px;
    border: none;
    border-radius: 0;
    max-width: 100%;
    position: static;
    padding: 0;
  }
  .tuning .cards::before {
    display: none;
  }
  .tuning .card {
    width: 48%;
    height: 166px;
    position: relative;
  }
  .tuning .card:nth-child(odd)::after {
    content: url(../../assets/svg/check-circle.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
    position: absolute;
    bottom: -26px;
    right: -26px;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
  .tuning .card:last-child {
    display: flex;
  }
  .tuning .card:nth-child(9)::after {
    display: none;
  }
  .tuning .card p {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .tuning .title {
    line-height: 40px;
  }
  .tuning .why-tiktok {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 44px;
    padding: 0;
    margin: 22px 0 0 0;
  }
  .tuning .why-tiktok-item {
    flex: 1 0 100%;
  }
  .tuning .why-tiktok-item h3 {
    font-size: 44px;
    line-height: 44px;
  }
  .tuning .why-tiktok-item span {
    font-size: 25px;
    line-height: 60px;
  }
  .tuning .why-tiktok-item p {
    font-size: 12px;
    line-height: 22px;
    margin: 0 0 0 0;
  }
}
@media (max-width: 1050px) {
  .main .row {
    flex-direction: column;
  }
  .main-left {
    position: relative;
  }
  .main-left .btns-info {
    padding: 44px 0;
    gap: 8px;
    flex-wrap: wrap;
  }
  .main-left .title {
    margin: 0 0 0 0;
    font-size: 40px;
    line-height: 40px;
  }
  .main-left .txt-places {
    font-size: 14px;
    font-weight: 500;
    max-width: 290px;
  }
  .main-left .btns-cta {
    flex-direction: column;
    margin: 32px 0 0 0;
    gap: 14px;
  }
  .about .title {
    font-size: 30px;
    line-height: 30px;
  }
  .about .cards {
    margin: 22px 0 0 0;
  }
  .about .txt {
    font-size: 12px;
    margin: 12px 0 0 0;
  }
  .tuning .title {
    font-size: 30px;
    line-height: 40px;
  }
  .program .title {
    font-size: 30px;
    line-height: 40px;
  }
  .light-1, .light-2, .light-3, .light-4, .light-5, .light-6 {
    display: none;
  }
  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .footer-menu {
    flex-direction: column;
    gap: 0;
    margin: 10px 0 0 0;
  }
  .footer-menu-items {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 900px) {
  .about .quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 0;
    overflow: hidden;
  }
  .about .quote-txt {
    max-width: 310px;
  }
  .about .quote-txt::after {
    right: 130px;
    bottom: -45px;
  }
  .about .quote-author {
    padding: 0;
    position: relative;
    right: -30px;
    top: -90px;
    width: 100%;
    margin: 0 0 -90px 0;
  }
  .about .quote-author img {
    max-width: 155px;
  }
  .about .quote-author span {
    margin: 120px 0 0 -55px;
  }
}
@media (max-width: 860px) {
  .price-box-mob {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .main {
    overflow: hidden;
  }
  .main-left {
    padding: 0 0 220px 0;
  }
  .main-right {
    display: none;
  }
  .main .main-img-mob {
    display: block;
    position: absolute;
    left: 70px;
    bottom: 50px;
    z-index: -100;
    width: 100%;
    height: auto;
  }
  .main .main-img-mob #MainImgMob {
    display: block;
    width: 100%;
    height: auto;
  }
  .main .main-img-mob #MainTTIcon {
    position: absolute;
    bottom: 50px;
    left: -100px;
  }
  .main .main-img-mob #MainTTIcon2 {
    width: 43px;
    height: 44px;
    position: absolute;
    top: 140px;
    right: 0;
    transform: rotate(-6deg);
  }
}
@media (max-width: 600px) {
  .price-box-mob__card {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}