@media (max-width: 1255px) {
    .about{
        .cards{
            flex-direction: column;
        }
        .card{
            width: 100%;
            height: auto;
            padding: 12px 24px;
        }
        .achievements{
            padding: 0;
            margin: 44px 0 0 0;
        }
        .quote{
            &-txt{
                font-size: 30px;
                line-height: 40px;
                letter-spacing: -1px;
            }
            &-author{
                position: static;
                padding: 24px 0;
                gap: 12px;
                justify-content: center;
            }
            span{
                font-size: 16px;
            }
        }
        .story{
            margin: 24px 0 0 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            img{
                display: none;
            }
            &-container{
                display: flex;
                align-items: flex-start;
                gap: 12px;
            }
            &-txt{
                max-width: 100%;
            }
        }
    }
    .tuning{
        padding: 54px 0;
    }
}
@media (max-width: 1150px) {
    .price{
        padding: 44px 0;
        &-bg1, &-bg2{
            display: none;
        }
        .title{
            font-size: 30px;
            line-height: 40px;
        }
        .txt{
            display: none;
        }

        .price-box{
            display: none;
        }
    }
}
@media (min-width: 1151px) {
    .price-box-mob{
        display: none;
    }
}
@media (max-width: 1100px) {
    .tuning{
        &-container{
            margin: 0 0 0 0;
            padding: 22px 0 44px 0;
            .vector-1, .vector-2{
                display: none;
            }
        }
        .cards{
            gap: 5px;
            border: none;
            border-radius: 0;
            max-width: 100%;
            position: static;
            padding: 0;
            &::before{
                display: none;
            }
        }
        .card{
            width: 48%;
            height: 166px;
            position: relative;
            &:nth-child(odd)::after{
                content: url(../../assets/svg/magister-logo.svg);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 44px;
                height: 44px;
                background: $cta;
                position: absolute;
                bottom: -26px;
                right: -26px;
                z-index: 100;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.15);
            }
            &:nth-child(9)::after{
                display: none;
            }
            p{  
                padding: 10px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        .why-tiktok{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 10px;
            //padding: 44px 0 44px 0;
            padding: 0;
            &-item{
                flex: 1 0 100%;
                h3{
                    font-size: 44px;
                }
                span{
                    font-size: 25px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}
@media (max-width: 1050px) {
    .main{
        .row{
            flex-direction: column;
        }
        &-left{
            position: relative;
            .btns-info{
                padding: 44px 0;
                gap: 8px;
                flex-wrap: wrap;
            }
            .title{
                margin: 0 0 0 0;
                font-size: 40px;
                line-height: 40px;
            }
            .txt-places{
                font-size: 14px;
                font-weight: 500;
                max-width: 290px;
            }
            .btns-cta{
                flex-direction: column;
                margin: 32px 0 0 0;
                gap: 14px;
            }
        }
    }
    .about{
        .title{
            font-size: 30px;
            line-height: 30px;
        }
        .cards{
            margin: 22px 0 0 0;
        }
        .txt{
            font-size: 12px;
            margin: 12px 0 0 0;
        }
    }
    .tuning{
        .title{
            font-size: 30px;
            line-height: 40px;
        }
    }
    .program{
        .title{
            font-size: 30px;
            line-height: 40px;
        }
        // .accordeon__button{
            
        // }
    }
}
@media (max-width: 860px) {
    .price{
        &-box-mob{
            flex-direction: column;
        }
    }
}
@media (max-width: 500px){
    .main{
        overflow: hidden;
        &-left{
            padding: 0 0 220px 0;
        }
        &-right{
            display: none;
        }
        .main-img-mob{
            display: block;
            position: absolute;
            right: 0;
            bottom: 20px;
            z-index: -100;
            #MainTTIcon{
                position: absolute;
                bottom: 50px;
                left: -100px;
                //transform: rotate(-20deg);
            }
            #MainTTIcon2{
                width: 43px;
                height: 44px;
                position: absolute;
                top: 140px;
                right: 0;
                transform: rotate(-6deg);
            }
        }
    }
}
@media (max-width: 600px) {
    .price{
        &-box-mob{
            &__card{
               margin: 0;
               max-width: 100%;
               width: 100%;
            }
        }
    }
}