@media (max-width: 1255px) {
    .about{
        .cards{
            flex-direction: column;
        }
        .card{
            width: 100%;
            height: auto;
            padding: 12px 24px;
        }
        .achievements{
            padding: 0;
            margin: 44px 0 0 0;
        }
        .quote{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;
            &-txt{
                font-size: 30px;
                line-height: 40px;
                letter-spacing: -1px;
                max-width: 310px;
                padding: 50px 0 0 0;
                &::after{
                    right: 100px;
                    bottom: -45px;
                }
            }
            &-author{
                position: static;
                padding: 24px 0;
                justify-content: center;
            }
            span{
                font-size: 16px;
            }
        }
        .story{
            margin: 24px 0 0 0;
            padding: 24px 0;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            border-top: 1px dashed rgba($color: #CFD9E1, $alpha: 0.15);
            border-bottom: 1px dashed rgba($color: #CFD9E1, $alpha: 0.15);
            img{
                display: none;
            }
            &-container{
                display: flex;
                align-items: flex-start;
                gap: 12px;
            }
            &-txt{
                max-width: 100%;
            }
        }
    }
    .tuning{
        padding: 54px 0;
    }
}
@media (max-width: 1150px) {
    .mono{
        margin: 40px 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 24px 0;
        gap: 12px;
        border-top: 1px dashed rgba($color: #CFD9E1, $alpha: 0.15);
        border-bottom: 1px dashed rgba($color: #CFD9E1, $alpha: 0.15);
        &-txt{
            h3{
                font-size: 13px;
                font-weight: 700;
                line-height: 18.5px;
                letter-spacing: -1px;
                background: var(--Silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            span {
                color: var(--White, #CFD9E1);
                font-size: 10px;
                font-weight: 600;
                letter-spacing: -0.2px;
                .gray {
                    color: #5B5B5A;
                }
            }
        }
        &-img{
            //border: 1px solid red;
            position: relative;
            img:nth-child(1) {
                position: absolute;
                top: 0;
                left: 10px;
            }
            img:nth-child(2) {
                position: absolute;
                bottom: 5px;
                left: 20px;
                transform: rotate(40deg);
            }
        }
    }
    .price{
        padding: 44px 0;
        &-bg1, &-bg2{
            display: none;
        }
        .title{
            font-size: 30px;
            line-height: 40px;
        }
        .txt{
            font-size: 14px;
            line-height: 22px;
            margin: 10px 0 0 0;
            max-width: 320px;
        }
        .txt > br {
            display: none;
        }

        .price-box{
            display: none;
        }
    }
}
@media (min-width: 1151px) {
    .price-box-mob{
        display: none;
    }
}
@media (max-width: 1100px) {
    .tuning{
        &-container{
            margin: 0 0 0 0;
            padding: 22px 0 44px 0;
            .vector-1, .vector-2{
                display: none;
            }
        }
        .cards{
            gap: 5px;
            border: none;
            border-radius: 0;
            max-width: 100%;
            position: static;
            padding: 0;
            &::before{
                display: none;
            }
        }
        .card-wrapper{
            display: block;
            width: 48%;
            height: 166px;
            .card{
                width: 100%;
                height: 117px;
                &:nth-child(1)::after{
                    display: none;
                }
                &:nth-child(1)::before{
                    display: none;
                }
            }
            .btn{
                margin: 4px 0 0 0;
                width: 100%;
            }
        }
        .card{
            width: 48%;
            height: 166px;
            position: relative;
            &:nth-child(odd)::before{
                content: url(../../assets/images/emoji-money-tt.png);
                position: absolute;
                bottom: -19px;
                right: -15px;
                z-index: 200;
            }
            &:nth-child(odd)::after{
                content: '';
                width: 44px;
                height: 44px;
                background: #00042F;
                position: absolute;
                bottom: -26px;
                right: -26px;
                z-index: 100;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.15);
            }
            &:last-child{
                display: flex;
            }
            &:nth-child(9)::after{
                display: none;
            }
            &:nth-child(9)::before{
                display: none;
            }
            p{  
                padding: 10px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        .title{
            line-height: 40px;
        }
        .why-tiktok{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 44px;
            padding: 0;
            margin: 22px 0 0 0;
            &-item{
                flex: 1 0 100%;
                h3{
                    font-size: 44px;
                    line-height: 44px;
                }
                span{
                    font-size: 25px;
                    line-height: 60px;
                }
                p{
                    font-size: 13px;
                    line-height: 22px;
                }
            }
        }
    }
}
@media (max-width: 1050px) {
    .main{
        .row{
            flex-direction: column;
        }
        &-left{
            position: relative;
            .btns-info{
                padding: 30px 0;
                gap: 8px;
                flex-wrap: wrap;
                .btn-info{
                    border: none;
                    border-radius: 12px;
                    background: rgba(255, 255, 255, 0.01);
                    box-shadow: 0px 4px 10px 0px rgba(93, 177, 223, 0.1);
                    span{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: -0.1px;
                    }
                }
            }
            .title{
                margin: 0 0 0 0;
                font-size: 40px;
                line-height: 40px;
            }
            .txt-places{
                font-size: 14px;
                font-weight: 500;
                //max-width: 330px;
            }
            // .txt-places > br{
            //     display: none;
            // }
            .btns-cta{
                flex-direction: column;
                margin: 32px 0 0 0;
                gap: 14px;
            }
        }
    }
    .about{
        .title{
            font-size: 30px;
            line-height: 30px;
        }
        .cards{
            margin: 22px 0 0 0;
        }
        .txt{
            font-size: 13px;
            margin: 12px 0 0 0;
        }
    }
    .tuning{
        .title{
            font-size: 30px;
            line-height: 40px;
        }
    }
    .program{
        .title{
            font-size: 30px;
            line-height: 40px;
        }
    }
}
@media (max-width: 900px) {
    .about{
        .quote{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
            gap: 0;
            overflow: hidden;
            &-txt{
                max-width: 310px;
                &::after{
                    right: 130px;
                    bottom: -45px;
                }
            }
            &-author{
                padding: 0;
                position: relative;
                right: -30px;
                top: -90px;
                width: 100%;
                margin: 0 0 -90px 0;
                img{
                    max-width: 155px;
                }
                span{
                    margin: 120px 0 0 -55px;
                }
            }
        }
    }
}
@media (max-width: 860px) {
    .price{
        &-box-mob{
            flex-direction: column;
        }
    }
}
@media (max-width: 1050px){
    .main{
        overflow: hidden;
        &-left{
            padding: 0 0 150px 0;
        }
        &-right{
            display: none;
        }
        .main-img-mob{
            display: block;
            position: absolute;
            right: 100px;
            bottom: 0;
            z-index: -100;
            // width: 100%;
            // height: auto;
            #MainImgMob{
                display: block;
                max-width: 400px;
                height: auto;
            }
        }
    }
}
@media (max-width: 767px){
    .main{
        &-left{
            padding: 0 0 290px 0;
        }
        &-right{
            display: none;
        }
        .main-img-mob{
            display: block;
            position: absolute;
            right: -80px;
            bottom: 0;
        }
    }
}
@media (max-width: 600px) {
    .price{
        &-box-mob{
            &__card{
               margin: 0;
               max-width: 100%;
               width: 100%;
            }
        }
    }
}