//colors
$cta: #030B59;
$gray: #CFD9E1;
$silver: #E1E1E9;



//txt
// $txt-xxs: 16px;
// $txt-xs: 18px;
// $txt-s: 20px;
// $txt-m: 21px;
// $txt-l: 42px;
// $txt-xl: 48px;
// $txt-xxl: 52px;
// $txt-xxxl: 60px;