@import 'reset';
@import 'var';
@import 'common';
@import 'background';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #000000;
    position: relative;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: linear-gradient(90.07deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
        border-bottom: 1px solid #FFFFFF26;
    }
    &__body{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 74px;
        align-items: center;
        // @media (max-width: 375px) {
        //     height: 50px;
        // }
    }
    &__logo{
        //flex: 0 0 55px;
        overflow: hidden;
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        // img{
        //     display: block;
        //     max-width: 100%;
        //     width: 55px;
        //     height: 55px;
        //     @media (max-width: 375px) {
        //         width: 30px;
        //         height: 30px;
        //     }
        // }
    }
    &__title{
        //margin: 0 0 0 12px;
        &-1{
            font-weight: 700;
            font-size: 28px;
            letter-spacing: -0.5px;
            color: #fff;
            // @media (max-width: 375px) {
            //     font-size: 14px;
            // }
        }
        &-2{
            font-weight: 200;
            font-size: 13px;
            letter-spacing: 5.5px;
            color: #fff;
            margin: 0 0 0 5px;
            //margin-top: -3px;
            // @media (max-width: 375px) {
            //     font-size: 10px;
            // }
        }
        // @media (max-width: 767px) {
        //     margin: 0 0 0 5px;
        // }
    }
    &__burger{
        display: none;
        cursor: pointer;
        @media (max-width: 767px) {
            display: block;
            position: relative;
            width: 44px;
            height: 44px;
            position: relative;
            z-index: 3;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.01);
            box-shadow: 0px 4px 10px 0px rgba(93, 177, 223, 0.10);
            padding: 10px;
            span{
                position: absolute;
                background-color: #fff;
                width: 24px;
                height: 2px;
                left: 10px;
                top: 21px;
            }
            &::before, &::after{
                content: '';
                background-color: #fff;
                position: absolute;
                width: 24px;
                height: 2px;
                left: 10px;
                transition: all .3s ease 0s;
            }

            &::before{
                // top: 16px;
                // left: 16px;
                top: 13px;
            }

            &::after{
                // bottom: 16px;
                // left: 16px;
                bottom: 13px;
            }

            &.active::before{
                width: 24px;
                transform: rotate(45deg);
                top: 21px;
                left: 10px;
            }
            &.active::after{
                width: 24px;
                transform: rotate(-45deg);
                bottom: 21px;
                left: 10px;
            }
            &.active span{
                transform: scale(0);
            }
        }
        // @media (max-width: 375px) {
        //     width: 30px;
        //     height: 30px;
        //     &::before, &::after{
        //         content: '';
        //         width: 10px;
        //     }

        //     &::before{
        //         top: 16px;
        //         left: 9px;
        //     }

        //     &::after{
        //         bottom: 16px;
        //         left: 9px;
        //     }

        //     &.active::before{
        //         top: 13px;
        //         left: 8px;
        //     }
        //     &.active::after{
        //         bottom: 13px;
        //         left: 8px;
        //     }
        // }
    }
    &__menu{
        display: flex;
        align-items: center;
        @media (max-width: 767px){
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all .3s ease 0s;
            background-color: rgba($color: $cta, $alpha: 1);
            opacity: 1;
            background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.95) 89.23%));
            padding: 114px 20px 44px 20px;
            &.active{
                top: 0;
            }
            &-txt{
                display: block;
            }
        }
        @media (max-width: 375px){
            //padding: 70px 15px 20px 15px;
            // &.active{
            //     top: 0;
            // }
        }
    }
    &__list{
        display: flex;
        position: relative;
        z-index: 2;
        li{
            margin: 0 24px 0 0;
            @media (max-width: 767px){
                margin: 0 0 24px 0;
                // &:first-child{
                //     margin: 0 0 20px 0;
                // }
            }
        }
        li:nth-child(4){
            display: none;
        }
        li:nth-child(5){
            display: none;
        }
        li:nth-child(6){
            display: none;
        }
        li:nth-child(7){
            display: none;
        }
        li:nth-child(8){
            display: none;
        }
        @media (max-width: 767px){
            display: block;
            flex: 1 0 auto;
            li:nth-child(1){
                display: none;
            }
            li:nth-child(2){
                display: none;
            }
            li:nth-child(3){
                display: none;
            }
            li:nth-child(4){
                display: block;
            }
            li:nth-child(5){
                display: block;
            }
            li:nth-child(6){
                display: block;
            }
            li:nth-child(7){
                display: block;
            }
            li:nth-child(8){
                display: block;
            }
        }
    }
    &__link{
        font-weight: 700;
        font-size: 16px;
        @include bg-linear-silver;
    }
    .cta-txt{
        color: var(--Gray, #CFD9E1);
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        display: none;
        @media (max-width: 767px){
            display: block;
            padding: 0 0 14px 0;
        }
    }
    .btn{
        z-index: 3;
        //margin: 14px 0 0 0;
    }
}

.main{
    padding: 74px 0 0 0;
    //max-width: 650px;
    position: relative;
    .light-1{
        position: absolute;
        left: 0;
        top: 150px;
        z-index: -333;
    }
    .light-2{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -333;
    }
    .light-3{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -333;
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &-left{
        flex-basis: 50%;
        .btns-info{
            display: flex;
            gap: 24px;
        }
        .btn-info{
            padding: 5px 10px;
            border: 1px solid #FFFFFF26;
            border-radius: 24px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
            span{
                @include bg-linear-silver;
                white-space: nowrap;
            }
        }
        .title{
            font-size: 74px;
            font-weight: 700;
            line-height: 80px;
            letter-spacing: -1px;
            @include bg-linear-silver;
            margin: 55px 0 0 0;
        }
        .txt-places{
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            color: $gray;
            margin: 20px 0 0 0;
            max-width: 450px;
        }
        .btns-cta{
            display: flex;
            margin: 38px 0 0 0;
            .btn-cta{
                margin: 0 24px 0 0;
            }
        }
    }
    &-right{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        #MainImg{
            display: block;
            max-width: 100%;
            height: auto;
            margin: 30px 0 0 0;
            transform: rotate(4deg);
        }
    }
    .main-img-mob{
        display: none;
    }
}

.about{
    position: relative;
    .light-4{
        position: absolute;
        right: 0;
        top: 0;
        z-index: -333;
    }
    .light-5{
        position: absolute;
        left: -50px;
        bottom: -200px;
        z-index: -333;
    }
    .light-6{
        position: absolute;
        left: 0;
        bottom: -400px;
        z-index: -333;
    }

    .title{
        font-size: 44px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1px;
        @include bg-linear-silver;
    }
    .cards{
        display: flex;
        gap: 8px;
        flex-flow: row wrap;
        position: relative;
        margin: 15px 0 0 0;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 18px;
        width: 236px;
        height: 248px;
        &-style{
            border-radius: 24px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
        }
    }
    .subtitle{
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
        padding: 4.5px 8px;
        white-space: nowrap;
        &-txt{
            color: $gray;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .txt{
        color: $gray;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin: 18px 0 0 0;
    }
    .achievements{
        // position: relative;
        // z-index: auto;
        padding: 150px 0;
    }
    .quote{
        position: relative;
        &-txt{
            font-size: 53px;
            font-style: italic;
            font-weight: 700;
            line-height: 64px;
            max-width: 1070px;
            @include bg-linear-silver;
            //padding: 20px;
            display: block;
            position: relative;
            padding: 30px;
            &::before{
                content: url(../../assets/svg/quote-paws-1.svg);
                position: absolute;
                top: 0;
                left: 0;
            }
            &::after{
                content: url(../../assets/svg/quote-paws-2.svg);
                position: absolute;
                bottom: 0;
                right: 370px;
            }
        }
        &-author{
            display: flex;
            align-items: center;
            position: absolute;
            right: -20px;
            top: 30px;
            img{
                display: block;
                max-width: 335px;
                height: auto;
            }
            span{
                color: #FFF;
                font-size: 17px;
                font-weight: 500;
                margin: 150px 0 0 0;
            }
        }
    }
    .story{
        margin: 150px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        img{
            display: block;
        }
        &-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
        }
        &-txt{
            color: $gray;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            max-width: 450px;
            position: relative;
            padding: 0 0 0 30px;
            &::before{
                content: '🥇';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
}

.tuning{
    //background-color: blueviolet;
    .title{
        font-size: 44px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1px;
        @include bg-linear-silver;
    }
    &-container{
        margin: 45px 0 0 0;
        .vector-1{
            display: flex;
            align-items: flex-end;
            flex-wrap: nowrap;
            position: relative;
            .tiktok{
                position: relative;
            }
            .tt-icon{
                display: block;
            }
            .tt-txt{
                position: absolute;
                bottom: -35px;
                right: 0;
                left: 0;
                margin: 0 auto;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                line-height: 12px;
                letter-spacing: 1px;
                text-transform: uppercase;
                @include bg-linear-silver;
            }
        }
        .arrow-1{
            margin: 0 0 10px 0;
        }
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0 auto;
        padding: 24px 0;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: rgba(242, 72, 255, 0.00);
        max-width: 686px;
        position: relative;
        &::before{
            content: 'Плюс нові знання 🎓';
            position: absolute;
            top: -15px;
            left: 70px;
            color: #000;
            border-radius: 16px;
            background: $gray;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            width: 203px;
            height: 30px;
        }
    }
    .card{
        width: 194px;
        display: flex;
        justify-content: center;
        align-items: center;
        //flex: 0 0 200px;
        height: 115px;
        padding: 5px;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
        &:last-child{
            display: none;
        }
        p{  
            padding: 10px;
            color: $gray;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
    }
    
    .vector-2{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        .arrow-2{
            margin: 20px 0 0 0;
        }
        
        .money-icon{
            margin: -130px 0 0 0;
        }
    }
    .why-tiktok{
        padding: 60px 0 100px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 64px;
        &-item{
            flex: 0 0 350px;
            h3{
                color: #FFF;
                font-size: 82px;
                font-weight: 900;
                line-height: 115px;
            }
            span{
                font-size: 50px;
                font-weight: 400;
                line-height: 60px;
                margin: 0 0 0 -5px;
            }
            p{
                color: #FFF;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                margin: 5px 0 0 0;
            }
        }
    }
}

.program{
    .title{
        font-size: 44px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1px;
        @include bg-linear-silver;
    }
    .accordeon {
        height: 100%;
        width: 100%;
        margin: 25px 0 0 0;
    }
    
    .accordeon__item {
        //color: $gray;
        margin: 0 0 4px 0;
        border-radius: 12px;
        //border: 1px solid rgba(255, 255, 255, 0.15);
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
    
    .accordeon__button {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: relative;
        color: $gray;
        padding: 12px 16px 12px 12px;
        cursor: pointer;
        border-radius: 12px;
        //border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
        //transition: all .3s ease-in;
        span:nth-child(1){
            color: var(--Gray, #CFD9E1);
            font-size: 12px;
            font-weight: 500;
            opacity: 0.44;
        }
        span:last-child{
            color: var(--Gray, #CFD9E1);
            font-size: 13px;
            font-weight: 500;
        }
    }

    .accordeon__button:after {
        content: '+';
        position: absolute;
        margin: auto 0;
        //top: 50%;
        //transform: translate(-50%, -50%);
        right: 16px;
        font-size: 30px;
        font-weight: 300;
        width: 12px;
        transition: content .3s ease-in;
        // bottom: 12px;
        // border: 8px solid transparent;
        // border-top: 14px solid #D9D9D9;
        // border-bottom: 1px solid transparent;
        // transition: border-bottom 0.5s ease, border-top 0.5s ease, bottom 0.5s ease;
    }
    
    .accordeon__panel {
        //border-top: 1px solid rgba(255, 255, 255, 0.15);
        border-radius: 0 0 12px 12px;
        max-height: 0;
        overflow: hidden;
        transition: all .3s ease;
        background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
    }
    
    .panel__text {
        padding: 16px 22px 25px 12px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        transition: all .3s ease;
        &-item{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            gap: 5px;
            span{
                color: var(--Gray, #CFD9E1);
                font-size: 12px;
                font-weight: 500;
                line-height: 22px;
                opacity: 0.44;
                flex: 46px 0 0;
            }
            p{
                color: var(--Gray, #CFD9E1);
                font-size: 12px;
                font-weight: 500;
                line-height: 22px;
            }
        }
    }
    
    .activeA {
        //background: #D9D9D9;
        //color: $cta;
        border-radius: 12px 12px 0 0;
        //border: none;
        transition: all 0.3s ease;
    }
    
    .activeA:after {
        content: "-";
        position: absolute;
        margin: auto 0;
        //top: 50%;
        //transform: translate(-50%, -50%);
        right: 14px;
        font-size: 30px;
        font-weight: 300;
        transition: content .3s ease-out;
        width: 12px;
    }
}

.price{
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    &-bg1{
        position: absolute;
        top: 40px;
        right: -55px;
        z-index: -333;
    }
    &-bg2{
        position: absolute;
        bottom: -50px;
        left: -50px;
        z-index: -333;
        transform: scale(-1, 1);
    }
    .title{
        font-size: 44px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1px;
        @include bg-linear-silver;
    }

    .txt{
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin: 10px 0 80px 0;
        //max-width: 292px;
    }

    &-box{
        margin: 0 auto;
        max-width: 100%;
        border-radius: 8px;
        background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
    }
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    .card{
        padding: 64px 30px;
        text-align: center;
        max-width: 260px;
        &:nth-child(2){
            border-radius: 24px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
            margin: -28px 0 0 0;
            h3, span, p {
                color: #FFF;
            }
            h3{
                margin: 28px 0 0 0;
            }
        }
        h3{
            color: $cta;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: -0.333px;
            text-transform: uppercase;
        }
        span{
            color: $cta;
            font-size: 60px;
            font-weight: 400;
            letter-spacing: -1px;
            margin: 12px 0 0 0;
        }
        p{
            color: $cta;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.233px;
            margin: 6px 0 0 0;
        }
        .btn{
            margin: 68px 0 0 0;
        }
    }

    &-table{
        padding: 40px 30px;
    }
    &-item{
        border-radius: 24px;
        background: rgba(3, 11, 89, 0.15);
        padding: 15px 35px;
        display: flex;
        align-items: center;
        position: relative;
        p{
            color: $cta;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: -0.25px;
            max-width: 220px;
        }
        .check{
            position: absolute;
            &-1{
                left: 525px;
            }
            &-2{
                right: 345px;
            }
            &-3{
                right: 90px;
            }
        }
        &:nth-child(even){
            background: transparent;
        }
    }
    .btns-cta{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 64px;
        padding: 30px;
    }
    &-box-mob{
        margin: 20px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    &-box-mob__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 335px;
        padding: 25px;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: var(--Gray, #CFD9E1);
        &-title{
            color: $cta;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -0.333px;
            text-transform: uppercase;
        }
        &-txt{
            color: $cta;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.233px;
            margin: 10px 0 0 0;
        }
        &-price{
            color: $cta;
            font-size: 36px;
            font-weight: 500;
            letter-spacing: -1px;
            margin: 42px 0 0 0;
            &::after{
                content: '$376';
                margin: 0 0 0 10px;
                color: rgba(3, 11, 89, 0.50);
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -1px;
                text-decoration: line-through;
            }
        }
        .details{
            width: 100%;
            margin: 32px 0 0 0;
            &-btn {
                cursor: pointer;
                font-size: 16px;
                font-weight: 400;
                background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &-btn i{
                margin: 0 0 3px 8px;
            }
            &-content{
               margin: 16px 0 0 0;
            }
            &-item{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                //gap: 30px;
                padding: 13.5px;
                border-radius: 12px;
                //border: 1px solid rgba(255, 255, 255, 0.15);
                background: #C4C5D6;
                p{
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 22px;
                    background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            &-item:nth-child(even){
                background: transparent;
            }
        }
        .btn{
            margin: 15px 0 0 0;
        }
    }
    &-box-mob > .price-box-mob__card:nth-child(2){
        background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
        .price-box-mob__card-title{
            color: none;
            background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .price-box-mob__card-txt{
            color: var(--new-gray, #808197);
        }
        .price-box-mob__card-price{
            color: var(--Gray, #CFD9E1);
            &::after{
                color: var(--new-gray, #808197);
            }
        }
        .details{
            &-btn{
                -webkit-text-fill-color: var(--Gray, #CFD9E1);
                .arrow{
                    border-color: $gray;
                }
                //color: var(--Gray, #CFD9E1);
            }
            &-content{
                
            }
            &-item{
                p{
                    -webkit-text-fill-color: var(--Gray, #CFD9E1);
                }
                &:nth-child(odd){
                    background: rgba($color: #808197, $alpha: 0.22);
                }
            }
        }
    }
}

.footer{
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-top: 1px solid #fff;
        padding: 38px;
    }
    &-title-1{
        color: #FFF;
        font-size: 28px;
        font-weight: 700;
        letter-spacing: -0.5px;
    }
    &-title-2{
        color: #FFF;
        font-weight: 200;
        font-size: 13px;
        letter-spacing: 5.5px;
        margin: 0 0 0 5px;
    }
    &-menu{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 30px;
        &-items{
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
        // &-item{
            
        // }
        &-link{
            color: #FFF;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}

@import 'media';