@import 'preloader';
@import 'reset';
@import 'var';
@import 'common';
@import 'background';
@import 'timer';
@import 'policy';
@import 'status';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #0A0A0A;
    position: relative;
    -ms-user-select: none; 
	-moz-user-select: none; 
	-webkit-user-select: none; 
	user-select: none;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: linear-gradient(90.07deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
        border-bottom: 1px solid #FFFFFF26;
    }
    &__body{
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 74px;
        align-items: center;
    }
    &__logo{
        overflow: hidden;
        position: relative;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title{
        &-1{
            font-weight: 700;
            font-size: 28px;
            letter-spacing: -0.5px;
            color: #fff;
        }
        &-2{
            font-weight: 200;
            font-size: 13px;
            letter-spacing: 5.5px;
            color: #fff;
            margin: 0 0 0 5px;
        }
    }
    &__burger{
        display: none;
        cursor: pointer;
        @media (max-width: 767px) {
            display: block;
            position: relative;
            width: 44px;
            height: 44px;
            position: relative;
            z-index: 3;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.01);
            box-shadow: 0px 4px 10px 0px rgba(93, 177, 223, 0.10);
            padding: 10px;
            span{
                position: absolute;
                background-color: #fff;
                width: 24px;
                height: 2px;
                left: 10px;
                top: 21px;
            }
            &::before, &::after{
                content: '';
                background-color: #fff;
                position: absolute;
                width: 24px;
                height: 2px;
                left: 10px;
                transition: all .3s ease 0s;
            }

            &::before{
                top: 13px;
            }

            &::after{
                bottom: 13px;
            }

            &.active::before{
                width: 24px;
                transform: rotate(45deg);
                top: 21px;
                left: 10px;
            }
            &.active::after{
                width: 24px;
                transform: rotate(-45deg);
                bottom: 21px;
                left: 10px;
            }
            &.active span{
                transform: scale(0);
            }
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        @media (max-width: 767px){
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all .3s ease 0s;
            background-color: rgba($color: $cta, $alpha: 1);
            opacity: 1;
            background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.95) 89.23%));
            padding: 114px 20px 44px 20px;
            &.active{
                top: 1px;
            }
            &-txt{
                display: block;
            }
        }
    }
    &__list{
        display: flex;
        position: relative;
        z-index: 2;
        li{
            margin: 0 24px 0 0;
            @media (max-width: 767px) {
                margin: 0 0 24px 0;
            }
        }
        li:nth-child(4){
            display: none;
        }
        li:nth-child(5){
            display: none;
        }
        li:nth-child(6){
            display: none;
        }
        li:nth-child(7){
            display: none;
        }
        li:nth-child(8){
            display: none;
        }
        @media (max-width: 767px){
            display: block;
            flex: 1 0 auto;
            li:nth-child(1){
                display: none;
            }
            li:nth-child(2){
                display: none;
            }
            li:nth-child(3){
                display: none;
            }
            li:nth-child(4){
                display: block;
            }
            li:nth-child(5){
                display: block;
            }
            li:nth-child(6){
                display: block;
            }
            li:nth-child(7){
                display: block;
            }
            li:nth-child(8){
                display: block;
            }
        }
    }
    &__link{
        font-weight: 700;
        font-size: 16px;
        @include bg-linear-silver;
    }
    .cta-txt{
        color: var(--Gray, #CFD9E1);
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        display: none;
        @media (max-width: 767px){
            display: block;
            padding: 0 0 14px 0;
        }
    }
    .btn{
        z-index: 3;
    }
}

.main{
    padding: 74px 0 0 0;
    position: relative;
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    &-left{
        flex-basis: 50%;
        .btns-info{
            display: flex;
            gap: 24px;
        }
        .btn-info{
            padding: 3px 10px;
            border: 1px solid #FFFFFF26;
            border-radius: 24px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
            span{
                text-align: center;
                background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                white-space: nowrap;
            }
        }
        .title{
            font-size: 74px;
            font-weight: 700;
            line-height: 80px;
            letter-spacing: -1px;
            @include bg-linear-silver;
            margin: 55px 0 0 0;
        }
        .txt-places{
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            color: $gray;
            margin: 20px 0 0 0;
            max-width: 350px;
        }
        .btns-cta{
            display: flex;
            margin: 38px 0 0 0;
            .btn-cta{
                margin: 0 24px 0 0;
            }
        }
    }
    &-right{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        #MainImg{
            display: block;
            max-width: 100%;
            height: auto;
            margin: 30px 0 0 0;
            //transform: rotate(4deg);
        }
    }
    .main-img-mob{
        display: none;
    }
}

.about{
    position: relative;
    //margin: 35px 0 0 0;
    .title{
        font-size: 44px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1px;
        @include bg-linear-silver;
    }
    .cards{
        display: flex;
        gap: 8px;
        flex-flow: row wrap;
        position: relative;
        margin: 15px 0 0 0;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 18px 18px 43px 18px;
        width: 236px;
        //height: 248px;
        &-style{
            border-radius: 24px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
        }
    }
    .subtitle{
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
        padding: 4px 10px;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        img{
            display: block;
            width: 16px;
            height: 16px;
        }
        &-txt{
            color: $gray;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
        }
    }
    .txt{
        color: $gray;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        margin: 18px 0 0 0;
    }
    .achievements{
        padding: 150px 0;
    }
    .quote{
        position: relative;
        &-txt{
            font-size: 53px;
            font-style: italic;
            font-weight: 700;
            line-height: 64px;
            max-width: 1070px;
            @include bg-linear-silver;
            display: block;
            position: relative;
            padding: 30px;
            &::before{
                content: url(../../assets/svg/quote-paws-1.svg);
                position: absolute;
                top: 0;
                left: 0;
            }
            &::after{
                content: url(../../assets/svg/quote-paws-2.svg);
                position: absolute;
                bottom: 0;
                right: 370px;
            }
        }
        &-author{
            display: flex;
            align-items: center;
            position: absolute;
            right: -20px;
            top: 30px;
            img{
                display: block;
                max-width: 335px;
                height: auto;
            }
            span{
                color: #FFF;
                font-size: 17px;
                font-weight: 500;
                margin: 150px 0 0 0;
            }
        }
    }
    .story{
        margin: 150px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        img{
            display: block;
        }
        &-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
        }
        &-txt{
            color: $gray;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            max-width: 450px;
            position: relative;
            padding: 0 0 0 30px;
            &::before{
                content: '🏆';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
            }
        }
    }
}

.tuning{
    .title{
        font-size: 44px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1px;
        @include bg-linear-silver;
    }
    &-container{
        margin: 45px 0 0 0;
        .vector-1{
            display: flex;
            align-items: flex-end;
            flex-wrap: nowrap;
            position: relative;
            .tiktok{
                position: relative;
            }
            .tt-icon{
                display: block;
            }
            .tt-txt{
                position: absolute;
                bottom: -35px;
                right: 0;
                left: 0;
                margin: 0 auto;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                line-height: 12px;
                letter-spacing: 1px;
                text-transform: uppercase;
                @include bg-linear-silver;
            }
        }
        .arrow-1{
            margin: 0 0 10px 0;
        }
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
        margin: 0 auto;
        padding: 24px 0;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: rgba(242, 72, 255, 0.00);
        max-width: 686px;
        position: relative;
        &::before{
            content: 'Плюс нові знання 🎓';
            position: absolute;
            top: -15px;
            left: 70px;
            color: #000;
            border-radius: 16px;
            background: $gray;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            width: 203px;
            height: 30px;
        }
    }
    .card-wrapper{
        display: none;
    }
    .card{
        width: 194px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 115px;
        padding: 5px;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
        &:last-child{
            display: none;
        }
        p{  
            padding: 10px;
            color: $gray;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
        }
    }
    
    .vector-2{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        .arrow-2{
            margin: 20px 0 0 0;
        }
        
        .money-icon{
            margin: -130px 0 0 0;
        }
    }
    .why-tiktok{
        padding: 60px 0 100px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 64px;
        &-item{
            flex: 0 0 350px;
            h3{
                color: #FFF;
                font-size: 44px;
                font-weight: 500;
                line-height: 115px;
            }
            p{
                color: #FFF;
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                letter-spacing: -0.14px;
                margin: 5px 0 0 0;
            }
        }
    }
}

.program{
    .title{
        font-size: 44px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1px;
        @include bg-linear-silver;
    }
    .accordeon {
        height: 100%;
        width: 100%;
        margin: 25px 0 0 0;
    }
    
    .accordeon__item {
        margin: 0 0 4px 0;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
        transition: all .3s ease;
        &:hover{
            border: 1px solid rgba(255, 255, 255, 0.25);
        }
    }
    
    .accordeon__button {
        display: flex;
        flex-direction: column;
        gap: 4px;
        position: relative;
        color: $gray;
        padding: 12px 32px 12px 12px;
        cursor: pointer;
        border-radius: 12px;
        span:nth-child(1){
            color: var(--Gray, #CFD9E1);
            font-size: 13px;
            font-weight: 500;
            letter-spacing: -0.13px;
            opacity: 0.44;
        }
        span:last-child{
            color: var(--Gray, #CFD9E1);
            font-size: 14px;
            font-weight: 600;
            letter-spacing: -0.6px;
        }
    }

    .accordeon__button:after {
        content: url(../../assets/svg/plus-icon.svg);
        position: absolute;
        top: 22px;
        right: 16px;
        transition: content .3s ease;
    }
    .accordeon__button.activeA:after {
        content: url(../../assets/svg/minus-icon.svg);
        top: 16px;
    }
    
    .accordeon__panel {
        border-radius: 0 0 12px 12px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s ease;
    }
    
    .panel__text {
        padding: 16px 22px 25px 12px;
        width: 100%;
        transition: all .3s ease;
        &-item{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            gap: 5px;
            span{
                color: var(--Gray, #CFD9E1);
                font-size: 12px;
                font-weight: 500;
                line-height: 22px;
                opacity: 0.44;
                flex: 46px 0 0;
            }
            p{
                color: var(--Gray, #CFD9E1);
                font-size: 12px;
                font-weight: 500;
                line-height: 22px;
            }
        }
    }
    
    .activeA {
        border-radius: 12px 12px 0 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
}
.mono{
    display: none;
}

.price{
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    &-bg1{
        position: absolute;
        top: 40px;
        right: -55px;
        z-index: -333;
    }
    .title{
        font-size: 44px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1px;
        @include bg-linear-silver;
    }

    .txt{
        color: #FFF;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        margin: 10px 0 80px 0;
    }

    &-box{
        margin: 0 auto;
        max-width: 100%;
        border-radius: 8px;
        background: var(--White, #CFD9E1);
    }
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
    }

    .card{
        padding: 50px 38px 38px 38px;
        text-align: center;
        max-width: 260px;
        position: relative;
        //display: flex;
        //flex-direction: column;
        &:nth-child(2){
            border-radius: 24px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
            margin: -28px 0 0 0;
            h3, span, p {
                color: #FFF;
            }
            h3{
                margin: 28px 0 0 0;
            }
            .early-bird{
                background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
            }
        }
        h3{
            color: $cta;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: -0.333px;
            text-transform: uppercase;
        }
        span{
            display: inline-block;
            margin: 12px 0 0 0;
            color: $cta;
            font-size: 44px;
            font-weight: 600;
            letter-spacing: -1px;
        }
        .early-bird{
            display: inline-block;
            margin: 4px 0 0 0;
            padding: 4.5px 8px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 24px;
            border: 1px solid rgba(255, 255, 255, 0.15);
            background: var(--White, #CFD9E1);
            text-decoration: line-through;
        }
        p{
            color: $cta;
            text-align: center;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -1px;
            margin: 24px 0 0 0;
        }
        .form{
            display: block;
        }
        .btn{
            width: 100%;
            margin: 24px 0 0 0;
        }
    }
    .popular{
        display: inline-flex;
        height: 26px;
        padding: 0px 8px;
        justify-content: center;
        align-items: center;
        gap: 2px;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.44) 89.23%);
        position: absolute;
        top: 22px;
        right: 22px;
        &-img{
            display: block;
            width: 14px;
            height: 14px;
        }
        &-txt{
            color: var(--White, #CFD9E1);
            font-size: 14px;
            font-weight: 600;
        }
    }
    &-table{
        padding: 40px 30px;
    }
    &-item{
        border-radius: 12px;
        background: rgba(3, 11, 89, 0.15);
        padding: 15px;
        display: flex;
        align-items: center;
        position: relative;
        p{
            color: $cta;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            max-width: 400px;
        }
        .check{
            position: absolute;
            width: 22px;
            height: 22px;
            &-1{
                right: 570px;
            }
            &-2{
                right: 330px;
            }
            &-3{
                right: 80px;
            }
        }
        &:nth-child(even){
            background: transparent;
        }
    }
    .btns-cta{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 64px;
        padding: 30px;
    }
    &-box-mob{
        margin: 20px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    &-box-mob__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        max-width: 335px;
        padding: 25px;
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        background: var(--Gray, #CFD9E1);
        position: relative;
        &-title{
            color: $cta;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -0.333px;
            text-transform: uppercase;
        }
        &-txt{
            color: $cta;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.233px;
            margin: 10px 0 0 0;
        }
        &-price{
            color: $cta;
            font-size: 36px;
            font-weight: 500;
            letter-spacing: -1px;
            margin: 42px 0 0 0;
            &::after{
                content: '';
                margin: 0 0 0 10px;
                color: rgba(3, 11, 89, 0.50);
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -1px;
                text-decoration: line-through;
            }
        }
        .details{
            width: 100%;
            margin: 32px 0 0 0;
            &-btn {
                cursor: pointer;
                font-size: 14px;
                font-weight: 400;
                background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: relative;
            }
            .arrow{
                border: solid $cta;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 3px;
                transition: all .3s ease;
                &-down{
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
                &.active-arrow{
                    transform: rotate(-135deg);
                    -webkit-transform: rotate(-135deg);
                }
            }
            &-btn .arrow-down{
                margin: 0 0 3px 8px;
            }
            &-btn .active-arrow{
                margin: 0 0 0 8px;
            }
            &-content{
               margin: 16px 0 0 0;
            }
            &-item{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                padding: 13.5px;
                border-radius: 12px;
                background: #C4C5D6;
                p{
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 22px;
                    background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                img{
                    width: 20px;
                    height: 20px;
                }
            }
            &-item:nth-child(even){
                background: transparent;
            }
        }
        .btn{
            margin: 15px 0 0 0;
        }
    }

    &-box-mob > .price-box-mob__card:nth-child(1){
        .price-box-mob__card-price::after{
            content: '₴8 950';
        }
    }
    &-box-mob > .price-box-mob__card:nth-child(2){
        .price-box-mob__card-price::after{
            content: '₴14 510';
        }
    }
    &-box-mob > .price-box-mob__card:nth-child(3){
        .price-box-mob__card-price::after{
            content: '₴21 150';
        }
    }
    &-box-mob > .price-box-mob__card:nth-child(2){
        background: var(--CTA, linear-gradient(90deg, #00042F 5.71%, rgba(0, 4, 47, 0.99) 89.23%));
        .price-box-mob__card-title{
            color: none;
            background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .price-box-mob__card-txt{
            color: var(--new-gray, #808197);
        }
        .price-box-mob__card-price{
            color: var(--Gray, #CFD9E1);
            &::after{
                color: var(--new-gray, #808197);
            }
        }
        .details{
            &-btn{
                -webkit-text-fill-color: var(--Gray, #CFD9E1);
                .arrow{
                    border-color: $gray;
                }
            }
            &-item{
                p{
                    -webkit-text-fill-color: var(--Gray, #CFD9E1);
                }
                &:nth-child(odd){
                    background: rgba($color: #808197, $alpha: 0.22);
                }
            }
        }
    }
}

.faq{
    padding: 100px 0;
    @media (max-width: 1050px) {
        padding: 10px 0;
    }
    .title{
        font-size: 44px;
        font-weight: 700;
        line-height: 80px;
        letter-spacing: -1px;
        @include bg-linear-silver;
    }
    .container-accordion {
        margin: 0 auto;
        width: 100%;
    }
      
    .accordion {
        display: flex;
        flex-wrap: wrap;
        gap: 34px 160px;
        @media (max-width: 1150px){
            gap: 10px;
        }
        .accordion-item {
            flex: 1 0 40%;
            @media (max-width: 1150px){
                flex: 1 0 100%;
            }
        }
        button {
            position: relative;
            display: block;
            text-align: left;
            width: 100%;
            padding: 10px 50px 10px 0;
            border: none;
            outline: none;
            font-size: 17px;
            font-weight: 700;
            line-height: 24px;
            -webkit-tap-highlight-color: transparent;
            @media (max-width: 1150px){
                font-size: 14px;
            }
          &:hover, &:focus, &:focus-visible {
            cursor: pointer;
            box-shadow: none;
            &::after {
              cursor: pointer;
            }
          }
          .accordion-title {
            background: var(--white-linear-silver, linear-gradient(138deg, #E1E1E9 62.82%, rgba(255, 255, 255, 0.44) 82.32%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .icon {
            display: inline-block;
            position: absolute;
            top: 11px;
            right: 5px;
            width: 22px;
            height: 22px;
            &::before {
              display: block;
              position: absolute;
              content: '';
              top: 9px;
              left: 5px;
              width: 10px;
              height: 2px;
              background: #fff;
            }
            &::after {
              display: block;
              position: absolute;
              content: '';
              top: 5px;
              left: 9px;
              width: 2px;
              height: 10px;
              background: #fff;
            }
          }
        }
        button[aria-expanded='true'] {
          .icon {
            &::after {
              width: 0;
            }
          }
          + .accordion-content {
            opacity: 1;
            max-height: 100%;
            transition: all .3s ease;
            will-change: opacity, max-height;
          }
        }
        .accordion-content {
          opacity: 0;
          max-height: 0;
          overflow: hidden;
          transition: opacity .3s ease, max-height .3s ease;
          will-change: opacity, max-height;
          p {
            color: var(--Gray, #CFD9E1);
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;

            padding: 0 50px 0 0;
            @media (max-width: 1150px){
                font-size: 12px;
            }
          }
          a{
            color: var(--Gray, #CFD9E1);
          }
        }
      }
}

.footer{
    background: #0A0A0A;
    //border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding: 34px 0;
    &-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
            &:last-child{
                flex-direction: row;
                gap: 36px;
            }
        }
        &-item:nth-child(2){
            img{
                width: auto;
                height: 30px;
            }
        }
        &-link{
            font-size: 14px;
            font-weight: 400;
            @include bg-linear-silver;
        }
        &-txt{
            font-size: 12px;
            font-weight: 400;
            opacity: 0.66;
            @include bg-linear-silver;
        }
        &-icons{
            margin: 12px 0 0 0;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 8px;
            img{
                width: 30px;
                height: 30px;
            }
        }
    }

    &-copyright{
        &-txt, &-txt a{
            color: var(--Gray, #CFD9E1);
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            opacity: 0.66;
        }
        &-txt a:hover{
            opacity: 1;
        }
    }
    @media (max-width: 1100px) {
        &-menu{
            flex-direction: column;
            justify-content: flex-start;
            gap: 36px;
            &-items{
                flex-direction: column;
                flex-wrap: nowrap;
                gap: 12px;
                &:last-child{
                    flex-direction: row;
                    gap: 36px;
                }
            }
        }
        &-copyright{
            margin: 36px 0 0 0;
        }
    }
}

@import 'media';